[navibar]
app_nr=12

[navi-app0]
path=./
name=iconflow
layer=
icon=res/call.jpg

[navi-app1]
path=../camera/
name=camera
layer=
icon=res/camera.jpg

[navi-app2]
path=../entertainment/
name=entertainment
layer=
icon=res/entertainment.jpg

[navi-app3]
path=../location/
name=location
layer=
icon=res/location.jpg

[navi-app4]
path=../message/
name=message
layer=
icon=res/message.jpg

[navi-app5]
path=../mail/
name=mail
layer=
icon=res/mail.jpg

[navi-app6]
path=../multimedia/
name=multimedia
layer=
icon=res/multimedia.jpg

[navi-app7]
path=../film/
name=film
layer=
icon=res/film.jpg

[navi-app8]
path=../message/
name=message
layer=
icon=res/message.jpg

[navi-app9]
path=../setting/
name=setting
layer=
icon=res/setting.jpg

[navi-app10]
path=../time/
name=time
layer=
icon=res/time.jpg

[navi-app11]
path=../weather/
name=weather
layer=
icon=res/weather.jpg
